<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340599407722-n22haeqc6lruvamscvcqh5ncnunecqlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340599407722-n22haeqc6lruvamscvcqh5ncnunecqlo</string>
	<key>API_KEY</key>
	<string>AIzaSyDBifB_ZLDvXqO6S6AVZEZOuk3fv8gdQTU</string>
	<key>GCM_SENDER_ID</key>
	<string>340599407722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rudrankriyam.FlavourFusion</string>
	<key>PROJECT_ID</key>
	<string>myapp-7b7db</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-7b7db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:340599407722:ios:d2c80abbdb999e14647613</string>
</dict>
</plist>
